.JokesBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
  .JokesType {
    font-size: 3.5rem;
    font-family: "golga", sans-serif;
    margin: 4px;
  }
  .JokesJoke {
    text-align: center;
    font-size: 1.5rem;
    font-family: "golga", sans-serif;
    margin: 4px;
  }
  .JokesJokeN {
    display: none;
  }
  .JokesAnswer {
    text-align: center;
    font-size: 1.5rem;
    font-family: "golga", sans-serif;
    margin: 4px;
  }
  .JokesAnswerN {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .JokesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    .JokesType {
      font-size: clamp(50px, 4dvw, 100px);
      font-family: "golga", sans-serif;
      margin: 4px;
    }
    .JokesJoke {
      text-align: center;
      font-size: clamp(30px, 2dvw, 80px);
      font-family: "golga", sans-serif;
      margin: 4px;
    }
    .JokesJokeN {
      display: none;
    }
    .JokesAnswer {
      text-align: center;
      font-size: clamp(30px, 2dvw, 80px);
      font-family: "golga", sans-serif;
      margin: 4px;
    }
    .JokesAnswerN {
      display: none;
    }
  }
}
