/*eslint-disable*/

.navbar-main {
  position: absolute;

  height: 150px;
  display: flex;
  flex-direction: row;

  .navbar-logo {
    z-index: 2;
    background: none;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    width: 150px;
  }
}
