/*eslint-disable*/

@font-face {
  font-family: "neonblitz";
  src: url("../../assets/fonts/Neonblitz.ttf");
}

@font-face {
  font-family: "neonsans";
  src: url("../../assets/fonts/NeonSans.ttf");
}

@font-face {
  font-family: "babyparty";
  src: url("../../assets/fonts/Baby\ Party.ttf");
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #ff9c9c,
      0 0 42px rgb(251, 0, 0),
      0 0 82px rgb(247, 131, 74),
      0 0 92px rgb(247, 131, 74),
      0 0 102px rgb(247, 131, 74),
      0 0 151px rgb(247, 131, 74);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background-image: url("../../assets/tree.jpg");
  background-size: cover;
  filter: contrast(150%);
  filter: grayscale(20%);
  row-gap: 5vh;

  .title-home {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
    row-gap: clamp(2rem, 5vh + 1rem, 10rem);
    margin-inline: 10%;

    h1 {
      font-family: "neonblitz", sans-serif;
      font-size: clamp(4rem, 9vw + 0.5rem, 6rem);
      color: #fff;
      animation: flicker 1.5s infinite alternate;
      // text-shadow:
      //   0 0 7px #fff,
      //   0 0 10px #fff,
      //   0 0 21px #ff9c9c,
      //   0 0 42px rgb(251, 0, 0),
      //   0 0 82px rgb(247, 131, 74),
      //   0 0 92px rgb(247, 131, 74),
      //   0 0 102px rgb(247, 131, 74),
      //   0 0 151px rgb(247, 131, 74);
    }

    .text1-home {
      width: 100%;
      text-align: left;
      font-family: "babyparty", sans-serif;
      color: rgb(237, 204, 161);
      font-size: clamp(1.5rem, 5vw + 0.5rem, 3rem);
      line-height: 2rem;
    }
    .text2-home {
      width: clamp(300px, 100%, 700px);
      text-align: right;
      align-self: self-end;
      font-family: "babyparty", sans-serif;
      color: rgb(255, 124, 59);
      font-size: clamp(1.2rem, 3vw + 0.5rem, 2.8rem);
      line-height: clamp(2rem, 4vw + 0.5rem, 4rem);
    }
  }

  .custom-btn {
    width: 250px;
    height: 50px;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-family: "babyparty", sans-serif;
    font-size: 1rem;
    background: transparent;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: grid;
    place-items: center;
    outline: none;
    backdrop-filter: blur(10px);
  }
  .btn-14 {
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    z-index: 1;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 5px;

      background-image: linear-gradient(
        315deg,
        rgba(164, 65, 16, 0.812) 0%,
        rgba(164, 65, 16, 0.714) 74%
      );

      transition: all 0.3s ease-in-out;
    }
    &:hover {
      color: white;
    }
    &:hover:after {
      border-radius: 7px;
      top: auto;
      bottom: 0;
      height: 100%;
    }
    &:active {
      top: 2px;
    }
    .link-home {
      text-decoration: none;
      color: white;
    }
  }
}
