.AllGame {
  background-color: purple;
  width: 100%;

  min-height: 100dvh;
  padding-top: 150px;
  .TextePlayer {
    position: absolute;
    left: 45%;
    top: 20px;
    font-family: "golga", sans-serif;
    font-size: 3rem;

    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .AllGame {
    .TextePlayer {
      font-size: clamp(40px, 3dvw, 80px);
    }
  }
}
